/*	
	This file defines the default set of CSS styles available in the Rich editor
*/

p.caption {
	font-style: italic;
	color: grey;
}

span.highlight {
	background: yellow;
}

img.left {
	float: left;
}

img.right {
	float: right;
}