<!DOCTYPE html>
<html>
<head>
  <title>Rich Browser</title>
  <%= stylesheet_link_tag    "rich/application" %>
  <%= javascript_include_tag "rich/application" %>
  <%= csrf_meta_tags %>
  </head>
<body>

<%= yield %>

</body>
</html>
